.slider {
  width: 100%;
}

.slider > .dragger {
  background: #0877c7; //wc #0877c7;
  background: -webkit-linear-gradient(top, #0877c7, #0750a3);
  background: -moz-linear-gradient(top, #0877c7, #0750a3);
  background: linear-gradient(top, #0877c7, #0750a3);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #052966;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #0877c7, #0877c7);
}


.slider > .track, .slider > .highlight-track {
  background: #4160a3;
 
  border: 1px solid #426ca6;
  height: 5px;
}

.slider > .highlight-track {
	background-color: #0877c7;
	background: -webkit-linear-gradient(top, #0877c7, #0750a3);
	background: -moz-linear-gradient(top, #0877c7, #0750a3);
	background: linear-gradient(top, #0877c7, #0750a3);
	
	border-color: #053769;
}

